.title {
  margin: 20px 15px 10px;
  color: #6d6d72;
  font-size: 15px;
}
.oa-contact-cell.mui-table .mui-table-cell {
  padding: 11px 0;
  vertical-align: middle;
}
.oa-contact-cell {
  position: relative;
  margin: -11px 0;
}
.oa-contact-avatar {
  width: 75px;
}
.oa-contact-avatar img {
  border-radius: 50%;
}
.oa-contact-content {
  width: 100%;
}
.oa-contact-name {
  margin-right: 20px;
}
.oa-contact-name,
oa-contact-position {
  float: left;
}
.mainlists {
  margin-top: 0;
  background-color: #efeff4;
}
.mainlists li {
  background-color: #f2f2f2;
}
.mainlists li a img {
  height: 30px;
}
.mainlists li a div {
  font-size: 14px !important;
  height: 16px !important;
  line-height: 16px !important;
}
.mui-toast-container {
  bottom: 20% !important;
  /*离布局底部的距离*/
}
.mui-toast-message {
  width: 180px;
  /*toast宽度*/
  padding: 10px 5px 10px 5px;
  /*toast中文字的位置*/
  text-align: center;
}
.icon {
  /* 通过设置 font-size 来改变图标大小 */
  width: 1.6em;
  height: 1.6em;
  /* 图标和文字相邻时，垂直对齐 */
  vertical-align: -0.15em;
  /* 通过设置 color 来改变 SVG 的颜色/fill */
  fill: currentColor;
  /* path 和 stroke 溢出 viewBox 部分在 IE 下会显示
             normalize.css 中也包含这行 */
  overflow: hidden;
}
#wrapper {
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  width: 100%;
}
#pullDown {
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  color: #888;
  text-align: center;
}
#ico .icoa {
  padding: 0 0 14px 0;
}
#ico .icoa .icoFont {
  white-space: normal;
  margin-top: 4px;
}
