body {
  background-color: #fff;
}
#wrapper {
  position: absolute;
  top: 45px;
  bottom: 53px;
  left: 0;
  width: 100%;
  background: #fff;
}
#wrapper ul li {
  height: 50px;
  line-height: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom: 1px solid #e7e7e7;
}
#wrapper ul li div .mui-icon {
  font-size: 18px;
  color: #21bdf9;
}
#wrapper ul li .ipt {
  height: 30px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  border: none;
  text-align: right;
}
#wrapper ul li::after {
  height: 0;
}
#wrapper ul::after {
  height: 0;
}
.surebox {
  width: 100%;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #c8c7cc;
}
.surebox button.sure {
  height: 40px;
  line-height: 10px;
  width: 90%;
  margin: 6px 0px 6px 16px;
}
